a{
    text-decoration: none;
}
body{
    box-sizing:content-box;
}
.login-left{
    border-radius: 20px;
   /*  width: auto; */
    height: 80%;
}
.login-image{
    width: 45%;
    height: 50%;
}
.left-side{
    float: left;
    height: auto;
    /* width: 50%; */
    background-color:rgb(252,138,60);
    border-radius: 45px 0;
}

.image-cadre{
    width: 30%;
    height: 30%;
    margin-left: 35%;
    border-radius: 50%;
}

input[type=password]{
    border-radius: 25px;
    height: 55px;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    margin-bottom: 5%;
}

input[type=email]{
    border-radius: 25px;
    height: 55px;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    margin-bottom: 5%;
}

input[type=number]{
    border-radius: 25px;
    height: 55px;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    margin-bottom: 5%;
}

input[type=text]{
    border-radius: 25px;
    height: 55px;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    margin-bottom: 5%;
}

.wallpaper{
height: 50%;
width: 100%;
border-radius: 50px 0;
}
.textLeft{
    height: 35%;
}

.bgcolor{
    background-color: rgb(235, 187, 155);
}
.colorBg{
    background-color: rgb(235, 187, 155);
}
.bgButton{
    background-color:rgb(252,138,60);
    width: 86%;
    border-radius: 25px;
    margin: 7%;
}
.posText{
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    color:rgb(136, 57, 4);
}
.marge{
   /*  padding-right: 10px; */
}
.chat-color{
    background-color: rgb(252,138,60);
}

.elmt-scrool{
    flex-shrink: 0
}
body{margin-top:20px;}

.chat-online {
    color:rgb(252,138,60);
}

.chat-offline {
    color: #e4606d
}

.list-group-item:hover{
    background-color:rgb(252,138,60) !important ;
    transform: scale(1.1,1);
    color:white;
}
.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 445px;
    overflow-y: scroll
}
.scroll-discussion{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.appel{
    background-color:rgb(252,138,60) !important;
}

.chat-message-left {
    margin-right: auto;
    color: white;
}
.AnnulMarge{
    margin-right: 0 !important;
}

.resize{
    height: 55px;
}
.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
#input-send{
    margin: none;
}